/* INDEX CSS */
.clickable-card {
  cursor: pointer;
    --bs-card-inner-border-radius: none;
    --bs-card-border-color: rgb(0 45 78);
}
.card {
  position: relative;
    width: 150px;
}
.card-body {
  padding: 0;
}
.card-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(0 0 0 / 76%);
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  transition: opacity 0.3s ease;
}
.card:hover .card-overlay {
  opacity: 1;
}
.play-icon {
  font-size: 40px;
  color: white;
}
.card-title-bottom {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 10px;
  color: white;
  text-align: center;
  font-size: 14px;
  background-image: linear-gradient(
    to top,
    #000000eb,
    #000000d6,
    #000000d6,
    #000000cf,
    #000000c7,
    #000000b8,
    #000000ab,
    #0000008c,
    #0000006b,
    #0000003b,
    #0000000f,
    #00000000
  );
}
.card-detail {
  padding: 2px;
  width: 12.455555%;
}
.card-detail-canava {
  padding: 5px;
}
.kotak-pencarian {
  width: 160px !important;
}
.offcanvas.offcanvas-bottom {
  height: 91% !important;
}
.offcanvas-header {
  padding: 10px 30px 0px 10px !important;
}
@media (min-width: 768px) {
  .posterMotieTv {
    height: 220px;
  }
  .card-detail-canava {
    width: 10%;
  }
  .posterMotieTvCanava {
    height: 186px;
  }
}

/* SEASON CSS */
.season-card {
  margin-bottom: 10px;
}
.poster-season, .season-poster {
    width: 80px;
    height: 115px;
    display: inline-block;
}
.row-season {
  display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.wadah-season {
  padding: 2px;
}
.detail-season {
  text-align: center;
  font-size: 12px;
}
.episode-backdrop {
  width: 130px;
  max-width: 130px !important;
  height: 80px;
  display: block;
  border-radius: 4px;
}
.media {
  display: flex;
  margin-bottom: 10px;
  padding: 10px;
  border: 1px solid #0d6efd38;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgb(0 0 0 / 10%);
}
.media-left {
  display: table-cell;
  vertical-align: top;
  padding-right: 15px;
}
.media-episode-heading {
  font-size: 15px;
  font-weight: 700;
}
.media-episode-body {
  font-size: 14px;
}
.label-runtime {
  background-color: #009aff;
  border-radius: 4px;
  padding: 0px 5px;
  color: inherit;
  font-weight: 600;
}
.label-date {
  background-color: #009aff;
  border-radius: 4px;
  padding: 0px 5px;
  color: inherit;
  font-weight: 600;
}
.plot {
  margin-bottom: 0;
}

/* EPISODE */
.poster-image-season {
  width: 100%;
}
.tags {
  width: 140px;
  display: flex;
  color: #13a1e5;
  align-items: center;
}
.card-poster {
  background: -moz-linear-gradient(
    top,
    rgba(0, 0, 0, 0) 0%,
    rgb(232, 3, 3) 15%
  );
  background: -webkit-linear-gradient(
    top,
    rgba(0, 0, 0, 0) 8%,
    rgb(0 0 0 / 57%) 24%
  );
  background: linear-gradient(
    to top,
    rgba(0, 0, 0, 0) 59%,
    rgb(0 0 0 / 63%) 83%
  );
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#000000',GradientType=0 );
}

.card-img-overlay {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  padding: var(--bs-card-img-overlay-padding);
  border-radius: var(--bs-card-inner-border-radius);
}
div.rating-critic {
  height: 25px;
  display: block;
  padding: 0px 8px;
  margin-left: 14px;
  font-size: 1em;
  font-weight: 500;
  display: inline-flex;
  justify-content: center;
  background-color: #000;
  border-color: #ccc;
  border-radius: 5px;
  color: #fff;
  align-content: center;
  align-items: center;
}
.detailInPoster {
  font-size: 11px;
  margin-bottom: -4px;
  text-shadow: 0 0 5px black;
  font-weight: 500;
}
.title-head {
  font-size: 20px;
}
.iconi-rating{
margin-bottom: -1px;
}
.hd-media {
    position: absolute;
    padding: 1px 6px;
    margin: 5px;
    border-radius: 3px;
    color: #fff;
    text-shadow: 0 -1px 0 rgb(0 0 0 / 25%);
    font-size: 11px;
    font-weight: 700;
    font-family: helvetica neue,Helvetica,arial,sans-serif;
    background-color: transparent;
    background-image: -moz-linear-gradient(#002742,#1a6bb3);
    background-image: -webkit-linear-gradient(#002742,#1a6bb3);
    background-image: linear-gradient(#002742,#1a6bb3);
    background-repeat: repeat-x;
    -webkit-box-shadow: 0 1px 2px rgb(0 0 0 / 25%);
    -moz-box-shadow: 0 1px 2px rgba(0,0,0,.25);
    box-shadow: 0 1px 2px rgb(0 0 0 / 25%);
    -webkit-border-bottom-right-radius: 3px;
    -moz-border-radius-bottomright: 3px;
    -moz-border-radius-bottomleft: 3px;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
    z-index: 1;
}

.rating-media {
    position: absolute;
    right: 0;
    padding: 1px 6px;
    margin: 5px;
    border-radius: 3px;
    color: #fff;
    text-shadow: 0 -1px 0 rgb(0 0 0 / 25%);
    font-size: 11px;
    font-weight: 700;
    font-family: helvetica neue,Helvetica,arial,sans-serif;
    background-color: transparent;
    background-image: -moz-linear-gradient(#002742,#1a6bb3);
    background-image: -webkit-linear-gradient(#002742,#1a6bb3);
    background-image: linear-gradient(#002742,#1a6bb3);
    background-repeat: repeat-x;
    -webkit-box-shadow: 0 1px 2px rgb(0 0 0 / 25%);
    -moz-box-shadow: 0 1px 2px rgba(0,0,0,.25);
    box-shadow: 0 1px 2px rgb(0 0 0 / 25%);
    -webkit-border-bottom-right-radius: 3px;
    -moz-border-radius-bottomright: 3px;
    -moz-border-radius-bottomleft: 3px;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
    z-index: 1;
}
.widget-title {
padding: 10px 0;
}
.widget-title span {
  float: left;
  margin-right: 20px;
  padding: 5px 10px;
  text-transform: uppercase;
  color: #fff;
  background: #0472e8;
  font-size: 13px;
}
.widget-title:after {
  content: "";
  background: #0472e8;
  height: 1px;
  overflow: hidden;
  display: block;
  position: relative;
  top: 10px;
}

[ng\:cloak],
[ng-cloak],
[data-ng-cloak],
[x-ng-cloak],
.ng-cloak,
.x-ng-cloak {
  display: none !important;
}

/* MOVIE */
.tahun {
  font-size: 13px;
  font-weight: 600;
}

.bg-body-tertiary {
   background-color: #111111 !important;
}
/* NAV-BAR MENU */
.navbar {
--bs-navbar-color: whitesmoke;
    --bs-navbar-hover-color: #0472e8;
    --bs-navbar-disabled-color: whitesmoke;
    --bs-navbar-active-color: whitesmoke;
    --bs-navbar-brand-color: whitesmoke;
    --bs-navbar-brand-hover-color: #0472e8;
}

/* BTN Search*/
.form-control {
background-color: #fff0;
border: 1px solid #5a5a5a;
border-radius: 4px 0 0 4px;
}
.coni-menu {
 color: #0095ff;
 vertical-align: middle;
}
.form-select {
--bs-form-select-bg-img: url(https://api.iconify.design/ep/arrow-down-bold.svg?color=%230d6efd&width=40&height=40);
    background-color: #fff0;
    color: #0d6efd;
    border-radius: 0;
    border: 1px solid #5a5a5a;
    border-left: 1px solid #5a5a5a00;
}
.btn-search {
border-radius: 0 4px 4px 0;
}

