@import url("https://fonts.googleapis.com/css2?family=Righteous&family=Ubuntu:wght@500&display=swap");

@font-face {
  font-display: fallback;
  font-family: FS_Numbers;
  font-style: normal;
  font-weight: 400;
  src: url(https://cintakuaja68.github.io/assets/font/FS_Numbers.woff2)
    format("woff2");
}
body {
  color: #3c3c3c;
}
h1,
h2,
h3,
h4,
h5 {
  font-family: "Righteous", cursive !important;
  font-weight: 500 !important;
    /* color: #d1d0d0 !important; */
    margin: 0 !important;
}
svg {
    width: 20px !important;
    height: 20px !important;
    fill: transparent !important;
}
.wadah-description {
  /* background-color: #2c2c2c;
  color: white !important; */
}
.btn-more-less {
  font-family: "Righteous", cursive !important;
  --bs-btn-color: #inherit !important;
  /* --bs-btn-bg: #6c757d; */
  --bs-btn-border-color: #6c757d33;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #5c636a;
  --bs-btn-hover-border-color: #565e64;
  --bs-btn-focus-shadow-rgb: 130, 138, 145;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: #565e64;
  --bs-btn-active-border-color: #51585e;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: #fff;
  --bs-btn-disabled-bg: #6c757d;
  --bs-btn-disabled-border-color: #6c757d;
}
.btn-more-less:hover {
  color: #3cacff;
  background-color: #5c636a1a;
  border-color: #0092ffc9;
}
.btn-light {
    --bs-btn-color: inherit;
    --bs-btn-bg: #f8f9fa00;
    --bs-btn-border-color: #f8f9fa29;
}
/* flex data event today */
.eventTodays {
  display: flex;
  justify-content: center;
}
.table-today {
  min-width: 50% !important;
  border-collapse: collapse;
  /* border: 2px solid #ccc; */
  margin: 10px 0;
}
.table-today:hover {
  border-bottom: 4px double #0dc4dd5c;
  color: rgb(0 137 255);
}
.table-today td {
  padding: 0 8px !important;
  text-align: center;
  /* border: 1px solid #ddd;*/
}
.ite {
  border: 1px solid transparent !important;
}
.dateEventToday {
  font-family: FS_Numbers;
  font-size: 13px;
}
.statusMatch {
  padding: 0 !important;
  width: 20%;
  font-size: 11px;
  font-family: system-ui;
  font-weight: 400;
}
.team-event {
  font-family: "Righteous", cursive;
  width: 40%;
  /* padding: 8px 0 !important; */
  border-right: 1px solid transparent !important;
}
.date-today {
  border-bottom: 1px solid #0000002e;
}

.logo-team {
  width: 62px;
  padding: 0px 4px 4px !important;
  border-radius: 4px;
  border: 1px solid transparent !important;
  
}
.vsTeam {
  width: 10px;
  /* border-bottom: 1px solid #c9c9c9 !important; */
  font-size: 30px;
  padding: 4px 4px 7px 4px !important;
  font-weight: 600;
}
.imgLogoNormal {
  width: 40px;
  box-shadow: inset 0 0 8px 2px #11bcd3;
  padding: 4px;
  border-radius: 50% !important;
}
.imgLogoNormal:hover {
  box-shadow: inset 0 0 8px 2px #0087fb73;
}
.scoreToday {
/*   color: #0d2d44e3; */
  /* width: 93px; */
  /* height: 60px; */
  font-size: 28px;
  font-family: FS_Numbers;
  font-weight: bold;
  /* padding: 8px 0 !important; */
  /* border-right: 1px solid transparent !important; */
  /* border-bottom: 1px solid #c9c9c9 !important;*/
}
@media (max-width: 767px) {
  .table-today {
    width: 100%;
  }
  .team-event {
    width: 165px;
    padding: 8px 4px !important;
  }
  .vsTeam {
    font-size: 20px;
    padding: 5px !important;
  }
  .logo-team {
    width: 55px;
    padding: 8px 0 !important;
  }

  .scoreToday {
    padding: 8px 4px !important;
    /* width: 20px; */
    font-size: 18px;
    font-weight: bold;
  }
}

/* grid data next event */
.grid-container {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1px;
}
.thJersey{
padding: 16px 0px !important;
    font-size: 13px;
    font-family: 'Righteous', cursive;
    font-weight: 500;
}
.tdJersey{
padding: 16px 0px !important;
}
.jersey-home {
  text-align: center;
  padding-right: 10px;
}
.jersey-away {
  text-align: center;
  padding-left: 10px;
}
.wadah-jersey {
  padding-top: 15px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.grid-item {
  padding: 4px 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.tdEventTeamHome {
  text-align: right;
  padding-right: 0px !important;
}
.tdEventTeamAway {
  text-align: left;
  padding-left: 0px !important;
}
.tdEventLogo {
  text-align: center;
  width: 50px;
  vertical-align: middle;
}
.pertandingan-vs {
  padding: 0px !important;
  width: 30px;
  vertical-align: middle;
  text-align: center;
  font-weight: 100;
  font-family: fantasy;
}
.pertandingan-date {
  font-size: 12px;
  padding: 2px;
  vertical-align: middle;
  font-family: FS_Numbers;
}
.pertandingan-team {
  width: 195px;
    padding: 0px 2px;
    vertical-align: middle;
    font-family: 'Righteous', cursive;
    font-weight: 100;
    font-size: 12px;
    line-height: 15px;
    color: #081958;
}
.pertandingan-tr {
  border-bottom: 1px solid #8080802e;
  cursor: pointer;
}
.pertandingan-tr:hover {
  background-color: #01284608;
}
.pertandingan-score {
  text-align: center;
  width: 40px;
  vertical-align: middle;
}
/* tampilan  lain */
.anak-header {
  display: flex;
/*     background-color: #ffffffd4; */
    /* padding: 8px 20px 20px 20px; */
    /* margin-bottom: 10px; */
    align-items: baseline;
    justify-content: center;
}
.nav-link {
    font-family: "Righteous", cursive !important;
}
.wadah-col2 {
  display: flex;
  flex-wrap: wrap;
}
.table-jersey {
  width: 100%;
  text-align: center;
}
.img-jersey-team {
  width: 100px;
}
.imgLogoJerseyTeam {
  max-width: 45px;
  height: 45px;
}
.vs-jersey {
  width: 65px;
}
.tiJe {
  margin-top: 30px;
}
.imgInfoEvent {
  max-width: 26px;
  height: 26px;
}
.imgHomeTeam {
  width: 100%;
}
.imgAwayTeam {
  width: 100%;
}
.judul-ivent {
  font-size: 18px;
  margin-left: 13px;
  color: #545454;
  text-align: center;
  border-top: 4px double #0dc4dd5c;
    border-bottom: 4px double #0dc4dd5c;
    background-color: #80808021;
}
/* Responsive Styles for Mobile Devices */
@media (max-width: 767px) {
  .grid-container {
    display: grid;
    grid-template-columns: repeat(1, 1fr); /* Set to 1 column for mobile */
  }
}

/* Responsive Styles for Desktop Devices */
@media (min-width: 768px) {
  .grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* Keep 5 columns for desktop */
  }
}
/* .grid-container {
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        gap: 20px;
      } */
.card-body {
  padding: 5px !important;
  width: 100%;
  border: 1px solid #44656a47;
}
option {
  font-size: 14px;
  font-family: system-ui;
  font-weight: 600;
  text-align: left;
}
@media screen and (max-width: 640px){
.table {
    width: calc(100% + 15px);
}
}
.table {
  box-shadow: 0 0 10px 0px #8080803d;
  border-radius: 5px;
  /* height: 85px; */
  border: 1px dotted #0dcaf0db;
  border-collapse: inherit;
}
.table>:not(caption)>*>* {
    color: inherit !important;
  background-color: inherit !important;
}
.table:hover {
  transform: scale(1.1);
  transition: transform 0.5s ease-in-out;
  box-shadow: 0 0 13px 0px #1b8cdd;
  color-: #1b8cdd;
}
.row-event {
  padding: 10px;
}
.table > :not(caption) > * > * {
    padding: 0.1rem !important;
}
.trEvent {
  height: 40px;
}
.trEventDate {
  height: 24px;
}

.tdEventDate {
  padding-left: 18px !important;
  font-size: 11px;
  color: #2c87d7 !important;
}
tbody {
  cursor: pointer;
}
/* select menu */
.selectedLeague {
  text-align: center;
}
.menu-select-league {
  margin: 10px;
}
.select-lig {
  text-align: center;
  font-size: 17px;
  font-family: "Righteous", cursive;
  height: 30px;
  margin-bottom: 4px;
  margin-top: 2px;
  overflow: hidden;
  position: relative;
  /* border: 1px solid #aaa; */
  border-right: 1px solid #0000;
  border-left: 1px solid #0000;
  border-top: 1px solid #0000;
  border-bottom: 1px solid #0000;
  white-space: nowrap;
  line-height: 26px;
  color: #444;
  text-decoration: none;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding;
  background-clip: padding-box;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-color: #fff;
  /* background-image: -webkit-gradient(
    linear,
    left bottom,
    left top,
    color-stop(0, #afcad7),
    color-stop(0.5, white)
  );
  background-image: -webkit-linear-gradient(
    center bottom,
    #eeeeee 0%,
    white 50%
  );
  background-image: -moz-linear-gradient(center bottom, #eeeeee 0%, white 50%);
  background-image: -o-linear-gradient(bottom, #eeeeee 0%, #ffffff 50%);
  background-image: -ms-linear-gradient(top, #ffffff 0%, #eeeeee 50%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr = '#ffffff', endColorstr = '#eeeeee', GradientType = 0);
  background-image: linear-gradient(top, #ffffff 0%, #eeeeee 50%); */
}
.select-lig:focus {
  border-color: #009fff;
  outline: 0;
  box-shadow: 0px -2px 8px 1px rgb(13 110 253 / 47%);
}
.select-round:focus {
  border-color: #009fff;
  outline: 0;
  box-shadow: 0px -2px 8px 1px rgb(13 110 253 / 47%);
}
option.select-ops {
  cursor: pointer;
}
.showMore {
  padding-bottom: 40px;
}

/* description */
.descCopTex {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 22px;
}
.btnCopyText {
 font-family: "Righteous", cursive !important;
    margin-top: 8px;
    border: none;
    background-color: transparent;
    font-size: 12px;
    font-family: inherit;
    display: flex;
    align-items: center;
    /* color: #2c2c2c; */
    /* font-weight: 600; */
    margin-bottom: 8px;
}
.gapi {
  gap: 0.5rem;
}
.w-4 {
  width: 1rem;
}

.h-4 {
  height: 1rem;
}
.header-desc {
  border: 1px solid #8080807a;
  background-color: #80808021;
}
.header-desc2 {
  padding: 10px 10px 33px;
  border: 1px solid #8080807a;
  background-color: #80808021;
  margin-bottom: 8px;
}
/* offcanavas */
@media (max-width: 767px) {
  .offcanvas {
    --bs-offcanvas-width: 100%;
  }
}
@media (min-width: 768px) {
  .offcanvas {
    --bs-offcanvas-width: 57% !important;
  }
}

/* info tips */

.info-lable {
  display: inline-block;
    padding-left: 15px;
    /* background-color: #eaeaea; */
    /* border: 1px solid #ccc; */
    border-radius: 4px;
    cursor: pointer;
    color: #106ee3;
}
.info-lable:active {
  color: #ff0018;
}

input#checkbox-id {
  display: none;
  width: 0;
}

input#checkbox-id[type="checkbox"]:checked ~ .popup-box__text {
  display: block;
}

.popup-box {
  position: relative;
}
.popup-box__header {
  background: #1994b9d6;
  padding: 8px;
  margin: -18px;
  border-radius: 5px 5px 0 0;
  color: white;
}
.popup-box__text {
  display: none;
  color: white;
    z-index: 333;
    position: absolute;
    border: 1px solid white;
    padding: 1rem;
    font-size: 14px;
    left: 0;
    top: 122%;
    transform: translate(0, 5%);
    width: 386px;
    border: 2px dotted #00c3fd59;
    background-color: #3d4a47;
    border-radius: 0.5rem;
    box-shadow: inset -20px 18px 32px -35px #0c71ef9e;
}
div.popup-box__text::after {
  content: "";
  position: absolute;
  bottom: 354px;
  left: 36px;
  width: 15px;
  height: 15px;
  border: 2px dotted #00a1ff8a;
  background: #b8860b00;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  border-radius: 15px;
  -webkit-box-shadow: -3px 3px 4px #989898;
  -moz-box-shadow: -3px 3px 4px #989898;
  box-shadow: inset -3px 3px 6px #0c71ef9e;
}

div.popup-box__text::before {
  content: "";
  position: absolute;
  bottom: 336px;
    left: 53px;
  background: #b8860b00;
  width: 25px;
  height: 25px;
  border: 2px dotted #00a1ff8a;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  border-radius: 30px;
  -webkit-box-shadow: -3px 3px 4px #989898;
  -moz-box-shadow: -3px 3px 4px #989898;
  box-shadow: inset -3px 3px 6px #0c71ef9e;
}

.colorLink {
  color: inherit;
  text-decoration: unset;
}

/* Dalam file CSS Anda */
[ng-cloak] {
  display: none !important;
}
